body{
    background-color: white;
    color: black;
}
.dark-mode{
    background-color: #121212;
    color:white;
    transition-duration: 1s;

}
.jumbotronWrapper{
    padding-top: 100px;
}
#conch{
    width: 250px;
    margin-top: 50px;
}
#displayQuestion{
    padding: 20px;
}
#displayResults{
    padding: 20px;
}
#myform{
    padding:30px;
}
#toggleButton{
    border-radius: 12px;
    background-color: white;
    text-decoration: none;
}
#toggleButton:hover{
    background-color: #FFD369;

}
#pullButton{
    border-radius: 12px;
    background-color: white;
}
#pullButton:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    background-color: #FFD369;
}
/* for shake animation */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }